@font-face {
    font-family: 'MetalVengeance-0WqV9';
    src: url('../font/MetalVengeance-0WqV9.ttf');
}

@font-face {
    font-family: 'NewRocker';
    src: url('../font/NewRocker-Regular.otf');
}
body{
    background-color: white;
    background-image: url(/web/img/fondolinea.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-y: hidden;
}
p{
    color: rgba(12,24,36,255);
    font-family: "NewRocker";
    position: relative;
    top: -1000px;
}
.fondo{
    width: 1350px;
    height: 1000px;
    position: relative;
    left: 220px;
}