{% extends 'LineApp/p_inicio.html' %}
{% load static %}

{% block titulo %}
<title>Carrito</title>
{% endblock titulo %}

{% block content %}

{% if request.user.is_authenticated %}
<!-- si no a añadido nada -->

<div class="container">
    <div class="card bg-dark ">
        <div class="card-body bg-dark ">
            <div class="container text-white bg-darker" id="titulo">
                <h3>Mis Productos</h3>
            </div>
            {% comment %} 
            <div>
                <h1>Verificar estado de pago</h1>
                <button onclick="verificarEstadoPago()">Verificar Estado de Pago</button>
            </div>
            {% endcomment %}

            <table class="table table-stripped table-hover table-responsive-sm">
                <tr>
                    <th class="text-white"></th>
                    <th class="text-white">Titulo</th>
                    <th class="text-white">Descripcion</th>
                    <th class="text-white">Precio</th>
                    <th class="text-white">Eliminar</th>
                </tr>
                <!-- Datos -->
                {% for v in videos %}
                <tr>
                    <td class="text-white"><img src="{{ v.incorporacion }}" class="foto3"></td>
                    <td class="text-white">{{ v.titulo | title }}</td>
                    <td class="text-white">{{ v.descripcion }}</td>
                    <td class="text-white">${{ v.mapa }}</td>
                    <td> <a href="{% url 'eliminar_video' v.idLine %}" class="btn btn-darker text-white btn-sm "> Eliminar </a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
 
        <!-- Todo relacionado con comprar -->
        <div class="container">
        <div class="row card-body bg-dark">
            <div class="col-10" style="text-align: end;">
                <h1 class="text-white">
                    Total: $23123123
                </h1>
            </div>
            <div class="col-2" style="text-align: end;">
                <a class="btn login-button btn-darker" onclick="crearOrdenPago()"><h3>Comprar</h3></a>
            </div>
        </div>
    </div>

{% comment %} 
    <h1>Carrito de Compras</h1>
  
    <div id="products">
      <div class="product">
        <span class="name">Producto 1</span>
        <span class="price">$10</span>
        <button onclick="agregarAlCarrito('Producto 1', 10)">Agregar al Carrito</button>
      </div>
      
      <div class="product">
        <span class="name">Producto 2</span>
        <span class="price">$20</span>
        <button onclick="agregarAlCarrito('Producto 2', 20)">Agregar al Carrito</button>
      </div>
      
      <div class="product">
        <span class="name">Producto 3</span>
        <span class="price">$30</span>
        <button onclick="agregarAlCarrito('Producto 3', 30)">Agregar al Carrito</button>
      </div>
    </div>
    
    <div id="cart">
      <h2>Carrito de Compras</h2>
      <div id="cart-items"></div>
      <div id="total"></div>
      <button onclick="realizarPago()">Realizar Pago</button>
    </div>
    </div> {% endcomment %}

</div>

<div class="container" style="margin-top: 5%;">
    <div class="col-sm-12 centrado">
        <div class="col-sm-12 bg-dark bg-opacity-85 text-white">
            <h1 >
                Tu Carro está vacío
            </h1>            
            <h3>
                Debes añadir por lo minimo 1 producto
            </h3>
        </div>
        <div class="col-sm-12">
            <a class="btn login-button btn-dark" href="{% url 'inicio' %}"><h2>Volver al inicio</h2></a>
        </div>
    </div>
</div>

{% else %}

<!-- Si no a iniciado sesion -->
<div class="container" style="margin-top: 5%;">
    <div class="col-sm-12 centrado">
        <div class="col-sm-12">
            <h1 class="bg-dark bg-opacity-85 text-white">
                Debes iniciar sesion para poder comprar algun producto
            </h1>
        </div>
        <div class="col-sm-12">
            <a class="btn login-button btn-dark" href="{% url 'InicioSesion' %}"><h2>Iniciar sesión</h2></a>
        </div>
    </div>
</div>

{% endif %}



<!-- Productos agregados -->

{% endblock content %}

{% block script %}
<script src="{% static 'LineApp/js/GetAndPost.js' %}"></script>
<script src="{% static 'LineApp/js/testing.js' %}"></script>
{% endblock script %}