{% extends 'LineApp/p_inicio.html' %}

{% block content %}
<div class="card bg-dark ">
    <div class="card-body bg-dark ">
        <div class="container text-white bg-darker" id="titulo">
            Eliminar Productos
        </div>
        <table class="table table-stripped table-hover table-responsive-sm">
            <tr>
                <th class="text-white">Producto</th>
                <th class="text-white">Titulo</th>
                <th class="text-white">Descripcion</th>
                <th class="text-white">Eliminar</th>
            </tr>

            {% for v in videos %}
            <tr>
                <td class="text-white">
                    <img src="{{ v.incorporacion }}" class="foto3"></td>
                <td class="text-white">{{ v.titulo | title }}</td>
                <td class="text-white">{{ v.descripcion }}</td>
                <td > <a href="{% url 'eliminar_video' v.idLine %}" class="btn btn-darker text-white btn-sm "> Eliminar </a></td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}